<section class="container-link">
        <div class="content-link1">
            <div class="linkbox">
                <div class="box-head">
                    <!--Headers for linkbox-->
                    <div class="linkbox-header-item1"><span>Flexbox</span></div>
                    <div id="divider-head"></div>
                    <div class="linkbox-header-item2"><span>WebDev</span></div>
                    <div id="divider-head"></div>
                    <div class="linkbox-header-item3"><span>Useful sites</span></div>
                    <div id="divider-head"></div>
                    <div class="linkbox-header-item4"><span>Sidekicks</span></div>

                </div>
                <hr>

                <div class="box">
                    <!--Flexbox-->
                    <div class="linkbox-link-item">
                        <span>
                    <a href="http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#create" target="_blank">
                                <p>Cheatsheet</p> 
                    </a>
                    </span>

                        <span>
                    <a href="http://www.webdesignerdepot.com/2015/09/modern-web-layout-with-flexbox/" target="_blank">
                                <p>Modern web layout</p>
                                </a>
                    </span>
                        <span>
                    <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">
                                <p>Complete guide</p>
                                </a>
                    </span>
                        <a href="http://www.planningforaliens.com/blog/2014/03/11/real-world-flexbox/" target="_blank">
                            <p>Real world usage</p>
                        </a>
                        </span>
                    </div>
                    <!--End Flexboxx-->
                    <div id="divider"></div>
                    <!--WebDev-->
                    <div class="linkbox-link-item">
                        <span>
                    <a href="https://c9.io/" target="_blank">
                                <p>Cloud 9 IDE</p> 
                                </a>
                    </span>
                        <span>
                    <a href="http://www.css3maker.com/index.html" target="_blank">
                            <p>Great CSS Tool</p> 
                            </a>
                    </span>

                        <span>
                    <a href="https://css-tricks.com/snippets/css/" target="_blank">
                                <p>CSS-tricks</p> 
                                </a>
                    </span>

                        <span>
                    <a href="https://github.com/yeoman/generator-angular/blob/master/readme.md" target="_blank">
                                <p>AngularJS guide</p> 
                                </a>
                    </span>
                   
                    </div>
                    <!--End WebDev-->
                    <div id="divider"></div>
                    <!--Useful Sites-->
                    <div class="linkbox-link-item">
                        <span>
                    <a href="http://codepen.io/" target="_blank">
                            <p>Codepen</p> 
                            </a>
                </span>

                        <span>
                <a href="http://keithclark.co.uk/" target="_blank">
                            <p>Front-end magic</p> 
                            </a>
                </span>
                        <span>
                <a href="http://www.awwwards.com/" target="_blank">
                            <p>Awwwards</p> 
                            </a>
                </span>
                        <span>
                    <a href="https://github.com/miripiruni/frontdesk" target="_blank">
                                <p>Frontdesk</p> 
                                </a>
                    </span>
                    </div>
                    <!--End Useful sites-->
                    <div id="divider"></div>
                    <!--Sidekicks-->
                    <div class="linkbox-link-item">
                        <span>
                            <a href="http://getbootstrap.com/" target="_blank">
                            <p>Bootstrap</p> 
                            </a>
                        </span>
                        <span>
                            <a href="http://materializecss.com/" target="_blank">
                            <p>Materializecss</p> 
                            </a>
                        </span>
                        <span>
                            <a href="http://fontawesome.io/" target="_blank">
                            <p>Font-Awesome</p> 
                            </a>
                        </span>
                    </div>
                    <!--End Sidekicks-->
                </div>
            </div>
        </div>

        <div class="content-link2">
            <div class="link-box1">
                <div class="flex-header">
                <h4 class="link-box-header">Entertainment</h4>
                <hr>
                </div>

                <ul class="ul-links">
                    <li>
                        <a href="http://www.tetrisfriends.com/" target="_blank">
                            <p><span class="tetris-t">T</span><span class="tetris-e">E</span><span class="tetris-tt">T</span><span class="tetris-r">R</span><span class="tetris-i">I</span><span class="tetris-s">S</span></p>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.lumosity.com/" target="_blank">
                            <p>Lumosity</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://play.spotify.com/browse" target="_blank">
                            <p>Spotify Web player</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.netflix.com/browse" target="_blank">
                            <p>Netflix</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://kissanime.to/" target="_blank">
                            <p>KissAnime</p>
                        </a>
                    </li>
                </ul>
                               
            </div>
            <div class="link-box2">
                <h4 class="link-box-header"><i class="glyphicon glyphicon-tent" aria-hidden="true"></i></h4>
                <hr>
                <ul class="ul-links">
                    <li>
                        <a href="https://mail.google.com/" target="_blank">
                            <p>Gmail</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <p>LinkedIn</p>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.youtube.com/" target="_blank">
                            <p>Youtube</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/" target="_blank">
                            <p>Facebook</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank">
                            <p>Instagram</p>
                        </a>
                    </li>
                </ul>
            </div>



            <div class="link-box3">
                <h4 class="link-box-header">Utils</h4>
                <hr>
                <ul class="ul-links">
                    <li>
                        <a href="https://www.teamviewer.com/en/" target="_blank">
                            <p>TeamViewer</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.piriform.com/ccleaner" target="_blank">
                            <p>CCleaner</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://sourceforge.net/projects/windirstat/?source=typ_redirect" target="_blank">
                            <p>WinStat</p>
                        </a>
                    </li>
                    <li>
                        <a href="http://housecall.trendmicro.com/" target="_blank">
                            <p>Housecall</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.malwarebytes.com/" target="_blank">
                            <p>Malwarebytes</p>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </section>
